.carritoimg{
    width: 80px;
}

#productos-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
}
.tarjeta-producto{
    max-width: 400px;
    text-align: center;
    background-color: rgba(191, 209, 89, 0.767);
    padding: 10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.228); 
    transition: 200ms;
}
.tarjeta-producto:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.228);
}


.tarjeta-producto img{
    width: 100%;
    aspect-ratio: 1.5;
}
a{
    text-decoration: none;
    color: var(--color-texto)
}
a:hover{
    color: var(--color-acento);
}
